In [2]:
import pandas as pd

In [28]:
#%conda install fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [4]:
nodes = pd.read_csv('/Users/haochensong/Desktop/IMI competition/UofT_nodes.csv')

In [18]:
nodes.head(15)

,BIRTH_DT,CUST_ADD_DT,OCPTN_NM,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,WIRES_CNT_OUT,COUNTRY_RISK_INCOME,COUNTRY_RISK_RESIDENCY,RISK,NAME,GENDER,CUSTOMER_ID
0,1981-09-01,2007-07-05,89.0,1,1,0.0,2577.785,2.0,2851.663,7.0,70774.0,62.0,24244.0,35.0,Low,Low,low,"Young, Marie Mildren Coleman",Female,935382.0
1,1994-02-21,2019-05-19,89.0,1,1,0.0,3035.502,2.0,4805.997,15.0,282929.0,76.0,196439.0,152.0,Low,Low,low,Mark Stupar Lecy,Male,2305.0
2,1962-11-16,2011-08-02,89.0,1,1,0.0,1617.571,1.0,3482.809,11.0,7632.0,6.0,33598.0,20.0,Low,Low,low,Dean Glasper Wendel Reeves,Male,472403.0
3,1998-06-20,2001-08-15,89.0,1,1,0.0,3587.042,5.0,1940.943,8.0,149253.0,71.0,105896.0,238.0,Low,Low,low,"Hulsey, Linda Rauth",Female,227994.0
4,1942-01-24,2012-10-28,89.0,1,1,0.0,1725.524,2.0,13197.169,43.0,92318.0,96.0,187403.0,180.0,Low,Low,low,Carolyn Washington Roberts,Female,418265.0
5,1969-05-22,2011-10-03,89.0,1,1,0.0,4274.825,8.0,10454.469,25.0,456359.0,107.0,276603.0,164.0,Low,Low,low,Mary Gilmore an,Female,2473.0
6,1951-03-31,2007-08-07,89.0,1,1,0.0,6535.232,8.0,7059.521,21.0,74927.0,17.0,139436.0,58.0,Low,Low,low,Jacqueline Thompson Burke Spann,Female,568597.0
7,1986-08-26,2012-11-26,89.0,1,1,0.0,316.046,0.0,3894.914,16.0,335104.0,93.0,205929.0,205.0,Low,Low,low,"Alderson, James Mccombs Wilcox",Male,395257.0
8,2002-06-24,2012-11-28,89.0,1,1,0.0,4684.540,9.0,1851.315,9.0,348805.0,83.0,521669.0,257.0,Low,Low,low,"Morris, Maria Bitto Minnick",Female,590694.0
9,1968-01-13,1997-12-23,89.0,1,1,0.0,3657.827,6.0,13503.562,35.0,413181.0,108.0,451743.0,315.0,Low,Low,low,"Mcneil, Jennifer Delargy Park",Female,738891.0
10,1957-11-11,2020-06-24,89.0,1,1,0.0,3757.159,4.0,4619.531,18.0,105145.0,28.0,124813.0,131.0,Low,Low,low,"Page, Sharon Peak Buroker",Female,145477.0
11,2007-06-26,2010-10-14,89.0,1,1,0.0,3642.725,4.0,5987.414,24.0,517504.0,250.0,321851.0,293.0,Low,Low,low,suzie Garcia Lavelle,Female,165550.0
12,1968-10-11,2001-11-05,89.0,1,1,0.0,5641.305,7.0,6188.607,14.0,297832.0,113.0,170592.0,113.0,Low,Low,low,"Sanders, Ronald Schwerdtfeger",Male,996829.0
13,1978-12-20,2020-08-13,89.0,1,1,0.0,504.539,1.0,4229.858,13.0,161725.0,145.0,51606.0,137.0,Low,Low,low,Jeanette Williams Krishun,Female,830984.0
14,1981-03-05,2005-12-06,89.0,1,1,0.0,558.155,1.0,2695.473,5.0,173376.0,30.0,111515.0,51.0,Low,Low,low,"Phipps, Mary Sanchez Smith",Female,110299.0

In [7]:
edges = pd.read_csv('UofT_edges.csv')

In [8]:
edges.head()

     source    target          emt
0  983859.0  544485.0   503.807815
1  605618.0  362627.0  5157.568486
2  323189.0  118238.0   498.628481
3  919153.0  983859.0   401.962668
4  995748.0  983859.0  5095.458776

In [6]:
occupation_risk = pd.read_csv('/Users/haochensong/Desktop/IMI competition/UofT_occupation_risk.csv')

In [7]:
occupation_risk

     code occupation_risk
0       0             Low
1       1            High
2       2             Low
3       3             Low
4       4             Low
..    ...             ...
836   836             Low
837   837             Low
838   838             Low
839   839            High
840   840            High

[841 rows x 2 columns]

In [17]:
value = fuzz.ratio('fred', 'Fred')
print('value: ' + str(value))

value: 75

In [25]:
target_name = pd.read_csv('/Users/haochensong/Desktop/IMI competition/targets.simple.csv')

target_name

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2023-01-15 00:47:12
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259326,wbdeb-721038,LegalEntity,U&R CONSTRUCCIONES S.A. DE C.V.,NaN,NaN,sv,NaN,NaN,Cross Debarment: IDB - 2023-01-13 - 2029-12-12,NaN,NaN,WorldBank Debarred Providers,2023-01-14 00:55:24,2023-01-15 01:00:13
259327,wbdeb-721040,LegalEntity,LEONCIO ANTONIO URBINA CLAROS,NaN,NaN,sv,"CALLE 97 ELIZABETH, RESIDENCIAL PORTALES E BAR...",NaN,Cross Debarment: IDB - 2023-01-13 - 2029-12-12,NaN,NaN,WorldBank Debarred Providers,2023-01-14 00:55:24,2023-01-15 01:00:13
259328,wbdeb-721041,LegalEntity,CONSTRUCCIONES DE OBRAS CIVILES S.A. DE C.V.,NaN,NaN,sv,NaN,NaN,Cross Debarment: IDB - 2023-01-13 - 2028-12-12,NaN,NaN,WorldBank Debarred Providers,2023-01-14 00:55:24,2023-01-15 01:00:13
259329,wbdeb-721042,LegalEntity,JUAN EDGARDO ANDRADE PEÑATE,NaN,NaN,sv,"BARRIO LA VEGA, CALLE AL CEMENTERIO, - SAN LOR...",NaN,Cross Debarment: IDB - 2023-01-13 - 2028-12-12,NaN,NaN,WorldBank Debarred Providers,2023-01-14 00:55:24,2023-01-15 01:00:13
259330,wbdeb-83317,LegalEntity,SEYDOU IDANI,NaN,NaN,bf,NaN,NaN,Consultant Guidelines 1.25(a)(i) - 2004-10-25 ...,NaN,NaN,WorldBank Debarred Providers,2021-07-26 11:55:45,2023-01-15 01:00:13

In [47]:
person_list = target_name[target_name.schema == 'Person']
name_list = person_list.name
person_list.head()

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2023-01-15 00:47:12
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12

In [33]:
from string import punctuation

In [35]:
def clean_text(text):
    if pd.notnull(text):
        tokens = text.split()
        table = str.maketrans("","", punctuation) #creates a one to one mapping of a character to its translation/replacement
        tokens = [word.translate(table) for word in tokens]
        tokens = [word for word in tokens if word.isalpha()]
        tokens = [word.lower() for word in tokens]
        tokens = [word for word in tokens if len(word) > 1]
        return ' '.join(tokens)
    else:
        return text

In [45]:
person_list['name'] = person_list.iloc[:,2].apply(clean_text)

/var/folders/0h/0qf279212tbbfjv71z01qdkc0000gn/T/ipykernel_4433/2057709779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  person_list['name'] = person_list.iloc[:,2].apply(clean_text)

In [127]:
person_list.head(15)

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2023-01-15 00:47:12
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 01:05:26,2023-01-15 00:47:12
5,acf-003bf88296087aabb54ccd6db2bcd6928bc893b7,Person,Tyutyunnik Yury Alexandrovich,Тютюнник Юрий Александрович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
6,acf-004166f2e999e45c8ce9f497752a93f24f377198,Person,Vlasova Tatyana Alekseevna,Власова Татьяна Алексеевна,1959-07-01,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-29 12:21:57,2023-01-15 00:47:12
7,acf-004ed1533d17996ba7aa11566f6c56027e2be689,Person,Berzegova Aseta Muratovna,Берзегова Асета Муратовна,1988-08-23,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-12 00:49:09,2023-01-15 00:47:12
8,acf-0062435b173149aba42212a1b16fb393d4a9bd0d,Person,Shapovalov Dmitry,Шаповалов Дмитрий,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
9,acf-00641aab3995732925809e5cc203623725c7219f,Person,Kuular Timur Borisovich,Куулар Тимур Борисович,1971-08-20,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-12 00:49:09,2023-01-15 00:47:12
10,acf-0069529d969231bfc2289d9f2d61db89de9bcc82,Person,Homutova Vita Mikhailovna,Хомутова Вита Михайловна,1969-01-26,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-12 00:49:09,2023-01-15 00:47:12
11,acf-00749769d332749ea1839ce82ddad4f18b3187d2,Person,Gimaltdinov Firdus Salikhovich,Гималтдинов Фирдус Салихович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12
12,acf-00776ee02694fb36ef3d6f42fa95ddcdab7f76c8,Person,Vasilev Vladimir Lvovich,Васильев Владимир Львович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2023-01-15 00:47:12
13,acf-008076c876c08dd7c54a05cbec8f82eeaa0af206,Person,Semchenkov Iurii Evgenevich,Семченков Юрий Евгеньевич,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14:08,2023-01-15 00:47:12
14,acf-0089427e82e2d014999f7794a7239353425540e2,Person,Sagdieva Aliya Ilsurovna,Сагдиева Алия Ильсуровна,1998-07-04,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26:25,2023-01-15 00:47:12

In [49]:
person_list.size

3065090

In [152]:
def data_to_number(sanited_time):
    sp = sanited_time.split("-")
    time = "".join(sp)
    length = len(time)
    if sanited_time == 'NaN':
        num = '00000000'
    elif length < 8:
        d = 8 - length
        num = time + '0' *d
    else:
        num = time
    
    return num

def month_sanity_check(a):
    months = {
        'jan': '01',
        'feb': '02',
        'mar': '03',
        'apr': '04',
        'may': '05',
        'jun': '06',
        'jul': '07',
        'aug': '08',
        'sep': '09',
        'oct': '10',
        'nov': '11',
        'dec': '12'
        }
    sp = a.split("-")
    try:
        ez = months[sp[1][:3].lower()]
        sp[1] = ez
        sanited_time = "-".join(sp)
        return data_to_number(sanited_time)
    except:
        return data_to_number(a)

In [166]:
a = '1993-nov-09'

In [167]:
month_sanity_check(a)

'19931109'

In [151]:
data_to_number(a)

'00000000'

In [132]:
len(''.join(a.split('-')))

8

In [134]:
"12" +'3'*3

'12333'